@page
@model LatteLove.Pages.Coffees.CoffeeListModel
@{
    ViewData["Title"] = "Coffee";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Enjoy a cup of coffee</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" value="" asp-for="SearchName" />
            <span class="input-group-btn">
                <button class="btn btn-default">
                    <i class="fas fa-search"></i>
                </button>

            </span>
        </div>
    </div>
</form>

@foreach (var coffee in Model.Coffee)
	{
		 <partial name="_Summary" model="coffee"/>
	}

<a asp-page="Edit" class="btn btn-primary">Add New</a>

