@page
@{
    ViewData["Title"] = "NotFound";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>The page you were looking for was not found.</h2>
<br/>

<a asp-page="CoffeeList" class="btn btn-info btn-sm">Go back to List</a>


